@media (prefers-color-scheme: dark) {
    body {
        background-color: #131313;
        color: #d2d0d0;
        min-height: 100vh;
        overflow: hidden;
    }
    a {
        color: rgb(44, 130, 188);
    }
    path {
        fill: #d2d0d0;
    }
    hr {
        background-color: #bbb;
    }
}